.card-member{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #4FBD75;
    .button-member{
        width: 100%;
    }
    p{
        line-height: 0.4px;
    }
}
